In [1]:
print("Hello world!") # 출력값 - 어떤 환경에서든지 이렇게 동작한다.

Hello world!

In [2]:
"Hello world!" # 리턴값 - 사용자가 확인하라고 보여줄 뿐, 다른 환경에서는 보이지 않을 수 있다.

'Hello world!'

In [3]:
1+1

2

In [4]:
print(1+1)

2

1차시 과제 계산기 프로그램

1. 덧셈, 뺄셈 프로그램을 이용해서 기능을 구현한다.
2. 곱셈, 나눗셈 프로그램을 이용해서 기능을 더한다.
3. 사용자가 연산을 선택할 수 있도록 한다.
4. 논리적으로 문제가 없는지 확인한다.

1. 사용자에게 연산자를 물어본다.
2. 사용자에게 첫 번째 숫자를

1. input: a
2. input: b
3. input: c = +(덧셈) or -(뺼셈) or *(곱셈) or /(나눗셈)
4. if c = +:
    
      x = a + b
    
5. if c = -:
    
      x = a - b
    
6. if c = *:
    
      x = a * b
    
7. if c = /: 
    
      x = a / b
    
8. else:
    
      print( “원하는 기능이 정확히 입력되지 않았습니다.”)
    
9. print x

In [ ]:
# 연산자 알아보기
# 1. 덧셈 (+)

In [5]:
23+45

68

In [6]:
"Hello"+"Hello"

'HelloHello'

In [7]:
print("Hello"+"Hello")

HelloHello

In [8]:
[1,2,3]+[4,5,6]#리스트도 덧셈이 된다. 문자열도 리스트의 일종이라고 했으므로 같은 처리가 되는 것

[1, 2, 3, 4, 5, 6]

In [9]:
(1,2,3)+(4,5,6) #튜플도 가능하다.

(1, 2, 3, 4, 5, 6)

In [10]:
{'Hong':123,"kim":456}+{"park":345,"lee":789} # 딕셔너리는 덧셈을 할 수 없다.

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [11]:
1+0

1

In [12]:
True + False #불 연산자 간의 덧셈이 된다.

1

In [13]:
True + False == True

True

In [14]:
#연산자 알아보기
#2. 뺄셈

In [15]:
23-4

19

In [16]:
2-2

0

In [17]:
"Hello"-"o" #문자열의 뺄셈은 지원하지 않는다.

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
[1,2,3]-[2] # 리스트 사이에서는 뺄셈을 지원하지 않는다.

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [19]:
(1,2,3) - (2) #튜플과 인티저는 뺄 수 없다.

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [20]:
(1,2,3)-(2,3) # 튜플끼리도 뺄 수 없다.

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [21]:
{'Hong':123,"kim":456}+{"kim":456} # 딕셔너리도 뺼 수 없다.

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [22]:
#연산자 알아보기
#3. 곱셈

In [23]:
7*3

21

In [24]:
2*2*2

8

In [25]:
2-2*2 # 덧셈 뺄셈과 곱셈 나눗셈의 우선순위가 제대로 작동한다.

-2

In [26]:
(2-2)*2 # 우선순위를 괄호로 지정하면 파이썬도 똑같이 따라할 수 있다.

0

In [27]:
"hello"*3 # 문자열과 숫자의 곱은 가능하다.

'hellohellohello'

In [28]:
"hello"*"3" # 문자열과 문자열은 곱할 수 없다.

TypeError: can't multiply sequence by non-int of type 'str'

In [29]:
"hello"*3.1 #int 가 아닌 수와는 리스트와 곱할 수 없다.

TypeError: can't multiply sequence by non-int of type 'float'

In [30]:
3.2*2.8

8.959999999999999

In [31]:
[1,2,3]*4 # 리스트와 숫자의 곱셈은 가능하다.

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [32]:
[1,2,3]*[4] # 리스트와 리스트의 곱은 불가능하다.

TypeError: can't multiply sequence by non-int of type 'list'

In [33]:
(1,2,3)*4 #튜플과 정수형은 곱할 수 있다.

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [34]:
(1,2,3)*(4) # 뒤의 (4)는 정수형이다.

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [35]:
(1,2,3)*(2,3) # 튜플과 튜플은 곱할 수 없다.

TypeError: can't multiply sequence by non-int of type 'tuple'

In [36]:
3*(1,2,3) # 파이썬은 교환 법칙이 성립한다.

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [37]:
{'Hong':123,"kim":456}*{"kim":456} # 딕셔너리와 딕셔너리를 곱할 수 없다. 정수형과도 실수형과도 곱할 수 없다.

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [38]:
#연산자 알아보기
#4. 나눗셈

In [39]:
1/4 # 파이썬 구버전 중에서는 이를 0으로 리턴하는 경우가 있으므로, 아래와 같이 플로트값임을 명시할 필요가 있다.

0.25

In [40]:
1.0/4.0

0.25

In [41]:
42/9 # 파이썬은 무한소수를 전부 계산하지 않고, 반올림해서 끝낸다.

4.666666666666667

In [42]:
"hello"/2 # 나눗셈은 불가능하다. 위에서 시도했던 것 전부 불가능하다.

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [43]:
#연산자 알아보기
#5. 몫 반환 연산자

In [44]:
123//7 # 몫 값만을 반환한다.

17

In [45]:
77.9//45

1.0

In [46]:
#연산자 알아보기
#6. 나머지 반환 연산자

In [47]:
49%5 # 나머지를 반환하는 연산자

4

그렇다면 나눴을 때 몫과 나머지를 각각 알려주는 의사코드를 만들어보자.

실습) 46/9의 몫과 나머지를 출력하는 의사코드 만들어보기

1. 46/9의 몫을 출력한다.
2. 46/9의 나머지를 출력한다.

In [51]:
print("몫:",46//9,"나머지:",46%9)

몫: 5 나머지: 1

In [52]:
#연산자 알아보기
#7. 지수 연산자

In [53]:
2**6

64

In [54]:
2.1**6

85.76612100000003

In [55]:
2.1*2.7

5.670000000000001

In [56]:
# 변수 알아보기

In [57]:
# 개념적으로 변수는 어떤 값이 들어갈 수 있는 공간. 하지만 컴퓨터에서는 조금 다르다.

In [58]:
# 메모리에 대이터를 불러오거나, 편집하거나, 저장하게 된다.

In [61]:
a=1

In [60]:
# a에 1을 집어넣은게 컴퓨터 입장에서는 맞지 않다.

mem: 004x899() 주소가 하나 있다고 가정

a=1을 했을 때

mem: 004x899(1) 이렇게 할당된다고 볼 수 있다.

In [62]:
a

1

In [63]:
1

1

In [64]:
a = a + 1 # 실제로는 a의 값이 바뀐 것이 아니고, 그 위치에 있는..

In [65]:
a

2

In [66]:
a =4566

In [67]:
b=123

In [68]:
a/b

37.1219512195122

In [69]:
a="hello" # 숫자만 넣을 수 있는 것이 아니다.

In [70]:
a

'hello'

In [71]:
X=1

In [72]:
x=3

In [74]:
X==x # 변수는 소문자와 대문자가 다르다.

False

In [75]:
a123 = 1

In [77]:
a123 # 숫자를 붙여서 변수를 지정할 수 있다.

1

In [78]:
45e=1 # 하지만 앞에 숫자가 오게끔 변수를 지정할 수는 없다.

SyntaxError: invalid syntax (3574143542.py, line 1)

In [80]:
a_11 = 2

In [81]:
a_11 # 언더바도 사용할 수 있다.

2

In [82]:
_max11 = 1 # 이와 같이 언더바가 앞에 오게 지정할 수는 있지만 하지 않는 것이 현명하다.

In [83]:
print(345)

345

In [84]:
# print=123 이와 같이 기존에 있는 함수에 값을 지정해버리면 쓸 수는 있지만 더이상 기존 기능을 사용할 수 없으므로, 하지 않는 것이 좋다.

x라는 변수에 임의의 값, y라는 변수에 임의의 값(이는 코드상에서 고쳐 적을 수 있게 만들면 된다.) 입력 후 해당 값을 더해서 출력하는 프로그램 만들기

In [87]:
x=4
y=5
print(x+y)

9

In [1]:
x=int(input("첫 번쨰 숫자를 입력하시오"))
y=int(input("두 번쨰 숫자를 입력하시오"))
print(x+y)

첫 번쨰 숫자를 입력하시오3
두 번쨰 숫자를 입력하시오4
7

In [2]:
# input() 함수를 알아보기
# input 함수는 프로그램 사용자가 값을 입력할 수 있도록 한다.

In [3]:
input("값을 입력하세요.")

값을 입력하세요.매ㅑㅓㄴㅇ러ㅑㄴ앨

'매ㅑㅓㄴㅇ러ㅑㄴ앨'

In [5]:
# 입력된 값을 x로 집어넣기
x = input('값을 입력하세요')

값을 입력하세요520

In [6]:
x # input은 항상 문자열로 받는다.

'520'

In [8]:
x+1

TypeError: can only concatenate str (not "int") to str

In [9]:
# 파이썬의 형변환

In [10]:
int(x) # 이와 같이 형변환을 시켜 주면 된다.

520

In [13]:
x # 원래 값은 변형시키지 않는다.

'520'

In [14]:
x= int(x) # 이와 같이 저장할 시에는 x 값이 int 값으로 다시 저장된다.

In [15]:
x

520

실습) x와 y 값을 사용자에게 입력받은 뒤, 두 값을 곱해서 출력하는 프로그램을 만들어보자.

In [18]:
x=int(input("첫 번째 숫자 = "))
y=int(input("두 번째 숫자 = "))
print("두 수를 곱한 값은 ",x*y," 입니다.")

첫 번째 숫자 = 8494
두 번째 숫자 = 5664
두 수를 곱한 값은  48110016  입니다.

In [19]:
# fltmxm
[4,5,6]

[4, 5, 6]

In [20]:
x = [4,5,6]

In [21]:
x[0] # 인덱싱 . 리스트는 옆에 대괄호로 몇 번째인지 지정이 가능하다.

4

In [22]:
x = [4,5,6,5,6,3,8,2,88,1,8]

In [23]:
x[5]

3

In [24]:
x[-2]

1

In [25]:
x[11] #길이 이상의 숫자를 지정하면 에러가 난다.

IndexError: list index out of range

In [26]:
x[2:] #뒤에 콜론을 찍으면 범위를 나타낸다.

[6, 5, 6, 3, 8, 2, 88, 1, 8]

In [27]:
x[:2] # 앞에도 찍어봤는데, 그 번째 전까지만 찍어준다.

[4, 5]

In [28]:
# x=[(시작할 자리):(끝날 자리 +1)]

In [29]:
x[2:-3] # 위에 보고 잘 비교해보세요.

[6, 5, 6, 3, 8, 2]

In [30]:
x = [4,5,6,5,6,'숫자 3',8,2,88,1,8]

In [32]:
x[5] + '22' # 연산은 가능하다.  이상태에서도 기존 값이 바뀌는 것은 아니므로

'숫자 322'

In [33]:
x[5]= x[5] + '22' # 이와 같이 저장해주어야 한다.

In [34]:
x

[4, 5, 6, 5, 6, '숫자 322', 8, 2, 88, 1, 8]

실습) 리스트 x 를 만드세요.
x 에는 각 원소로 49,96 "안녕하세요",77,3.44 이 다섯가지가 들어가 있어야 합니다. 

1. 리스트 x의 3번째 원소는 어떤 값일까요?
2. 리스트 x의 0번째 값에 70을 더해 저장하세요.
3. 리스트 x의 -2번째 값과 3번째 값이 같은지 체크해 보세요.

In [35]:
x=[49,96,"안녕하세요",77,3.44]

In [36]:
x[3] # 1번

77

In [37]:
x[0] = x[0]+70 # 2번

In [38]:
x[-2]==x[3] # 3번

True

In [39]:
x # 최종 리스트 x

[119, 96, '안녕하세요', 77, 3.44]

In [40]:
x

[119, 96, '안녕하세요', 77, 3.44]

In [41]:
x+46 # 뒤에 46을 붙이고 싶다면 ?

TypeError: can only concatenate list (not "int") to list

In [42]:
x+[46] # 이렇게 붙일 수 있으나, 기본 x는 변화가 되는 것이 아니다.

[119, 96, '안녕하세요', 77, 3.44, 46]

In [43]:
x = x +[46]

In [44]:
x

[119, 96, '안녕하세요', 77, 3.44, 46]

In [45]:
x.append(46) # append를 사용하여 리스트 내 요소를 추가할 수 있다.

In [46]:
x

[119, 96, '안녕하세요', 77, 3.44, 46, 46]

In [47]:
x.append("hello") # 문자도 넣을 수 있다.

In [48]:
x

[119, 96, '안녕하세요', 77, 3.44, 46, 46, 'hello']

In [49]:
x.append([46]) # 리스트로 넣어버리면 리스트 안에 리스트가 들어간다.

In [50]:
x

[119, 96, '안녕하세요', 77, 3.44, 46, 46, 'hello', [46]]

In [57]:
x.append("asdff")

In [56]:
x

[119, 96, '안녕하세요', 77, 3.44, 46, 46, 'hello', [46]]

In [58]:
x.remove('asdff')

In [59]:
x

[119, 96, '안녕하세요', 77, 3.44, 46, 46, 'hello', [46]]

In [61]:
y=[1,2,1,4,1,6]
y.remove(1)

In [62]:
y # 같은 수가 여럿 있을 때 앞에부터 지워진다.

[2, 1, 4, 1, 6]

얕은 복사와 깊은 복사

얕은 복사 : 두 변수가 같은 주소를 향하게 한다.

예를 들어, 컴퓨터 메모리에 0x44 주소가 있다고 가정을 한다.
a= [1]을 할 경우
0x44주소에 [1]이 저장되고, a 는 0x44 주소를 나타내게 된다.
b = a 이렇게 할 경우
a와 b는 모두 0x44 주소를 나타내게 된다.

a또는 b 중 하나만 수정하여도 두 변수 모두 바뀌게 된다.


깊은 복사 : 두 변수가 다른 주소를 향한다.

예를 들어, 컴퓨터 메모리에 0x44 주소가 있다고 가정을 한다.
a= [1]을 할 경우
0x44주소에 [1]이 저장되고, a 는 0x44 주소를 나타내게 된다.
b=a.copy() 이렇게 할 경우
08c9 주소에 [1]이 저장되고,
a는 0x44 주소, b는 08c9 주소를 나타내게 된다.

a와 b 각각을 수정하더라도 서로에게 영향을 주지 않는다.

In [63]:
a=1

In [64]:
b=a

In [65]:
b

1

In [66]:
a = a+1

In [67]:
b # 정수형에서는 얕은복사를 사용하지 않는다.

1

In [68]:
# 정수형은 a. +tab 을 해 봤을 때 copy가 없으므로 깊은복사만 있다.

In [69]:
a=[566]

In [70]:
# 리스트는 a.+tab 눌렀을 때 copy가 생겼으므로 신경을 써야 한다. 대부분의 리스트형식
# 자료형의 경우에는 깊은 복사와 얕은 복사를 지원한다.

In [72]:
print((1,2,3)*-4)

()

In [73]:
[1,2,3]*-5

[]

# 리스트의 특징
1. 인덱싱이 가능하다.
2. 슬라이싱이 가능하다.

In [74]:
x=[1,2,3,4,5]

In [75]:
x[3]# 인덱싱

4

In [76]:
x[3:] # 슬라이싱

[4, 5]

* 리스트는 2차원 배열(겹배열) 이 가능하다.

In [77]:
x=[[1,2,3],[4,5,6],[7,8,9]]

In [78]:
x

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [79]:
[1,2,3] # 일차원 데이터

[1, 2, 3]

In [80]:
for i in x:    # 아래와 같다면 2차원 표현이 가능하다. 
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [81]:
x=[[[1,2],[2,3],[3,4]],[[4,5],[5,6],[6,7]],[[7,8],[8,9],[9,9]]] # 3차원 가능?

In [82]:
for i in x:
    print(i)

[[1, 2], [2, 3], [3, 4]]
[[4, 5], [5, 6], [6, 7]]
[[7, 8], [8, 9], [9, 9]]

In [84]:
for i in x:  # 2차원 배열을 모아서 3차원 배열을 만들 수 있다. 
    for j in i:
        print(j)

[1, 2]
[2, 3]
[3, 4]
[4, 5]
[5, 6]
[6, 7]
[7, 8]
[8, 9]
[9, 9]

튜플

In [85]:
t=(1,2,3)

In [86]:
type(t)

tuple

In [87]:
type([1,2,3])

list

In [88]:
t[0] # 인덱싱도 된다..

1

In [89]:
t[:2] # 슬라이싱도 된다. 그런데 이럴거면 튜플은 왜 있는가?

(1, 2)

In [90]:
t[0]

1

In [91]:
t[0]+1

2

In [92]:
t[0]=t[0] + 1  # 튜플은 일반적으로는 요소를 바꿀 수 없다.

TypeError: 'tuple' object does not support item assignment

## 딕셔너리

In [96]:
d = {"home":"02-3142-6668","office":"02-123-2345"}

In [97]:
d

{'home': '02-3142-6668', 'office': '02-123-2345'}

In [95]:
# d의 key는"home"
# d의 value는 "02-3142-6668"

In [98]:
d[1] # 딕셔너리는 인덱싱이 불가능하다. 하지만.

KeyError: 1

In [99]:
d["home"] # key-value 관계를 이용한 인덱싱은 가능하다.

'02-3142-6668'

In [100]:
d2 = {"korea":["seoul","busan","gwangju"],"Usa":["la","ny","san francisco"]}

In [101]:
d2

{'korea': ['seoul', 'busan', 'gwangju'], 'Usa': ['la', 'ny', 'san francisco']}

In [102]:
d2["korea"]

['seoul', 'busan', 'gwangju']

In [103]:
d2["korea"][1] # 이와 같이 찾아 볼 수 있다.

'busan'

In [104]:
# 만약 여기 데이터를 추가하고 싶다면?

In [105]:
d2["korea"].append("daejeon")

In [106]:
d2

{'korea': ['seoul', 'busan', 'gwangju', 'daejeon'],
 'Usa': ['la', 'ny', 'san francisco']}

set(집합)

In [108]:
{1,2,3,4,5} # 집합이라고는 거의 부르지 않는다.

{1, 2, 3, 4, 5}

In [109]:
s = {1,2,3,4,5}

In [110]:
type(s)

set

In [111]:
s = {1,2,5,7,8,4,7} # set은 중복을 허용하지 않고, 데이터를 모두 오름차순 정렬

In [112]:
s # 중복이 있는 데이터를 없앨 때 set에 넣었다가 다시 빼는 방식으로 많이 사용

{1, 2, 4, 5, 7, 8}

실습

- 리스트 하나를 오름차순으로 정렬하고 중복된 값을 제거해보자

In [116]:
l = [89,62,4,3,3,5,6,8,7,8,9]

In [117]:
l

[89, 62, 4, 3, 3, 5, 6, 8, 7, 8, 9]

In [118]:
set(l)

{3, 4, 5, 6, 7, 8, 9, 62, 89}

In [119]:
list(set(l)) # list 로 돌릴 때 다시 정렬이 풀려버린다.

[3, 4, 5, 6, 7, 8, 9, 89, 62]

In [128]:
l = list(set(l))

In [126]:
l.sort() # 이 함수는 독특하게 l값 자체가 바뀌게끔 설계되어 있다.

In [127]:
l

[3, 4, 5, 6, 7, 8, 9, 62, 89]

In [130]:
# 만약 내림차순을 하고싶다면?
l.sort(reverse=True)

In [131]:
l

[89, 62, 9, 8, 7, 6, 5, 4, 3]

------
##bool(불, 부울)

In [132]:
True

True

In [133]:
False

False

In [134]:
type(True)

bool

In [135]:
type(False)

bool

In [136]:
True == True

True

In [137]:
True != True # 다른가? 를 묻는 !=

False

In [138]:
False == False

True

In [139]:
False != False #

False

In [140]:
True>False

True

In [141]:
1>0

True

In [142]:
True == 1

True

In [143]:
False == 0

True

In [144]:
True ==2   # True 는 2가 아니다.

False

In [145]:
if 2:   # if는 if 옆이 True일때 실행된다. 
    print(1)

1

In [146]:
# 하지만 실행이 되는 이유는 if문 옆이 값이 False가 아닐 때
# 실행되는 것이기 때문이다. 위에서 2는 True는 아니지만 False도 아니다.

In [147]:
0.0

0.0

In [148]:
0==0.0

True

In [149]:
False==0.0

True

In [150]:
[]

[]

In [151]:
[] == False #위의 비어있는 것은 0을 나타내긴 하지만, False는 아니다.

False

- False는 0과 0.0 단 두 가지로만 대체할 수 있다.

In [153]:
if True:
    print(1)

1

In [154]:
## 위의 코드가 쓰이는 경우 1. 마음 가는대로 쓰다 보니 썼다. 2. 이 부분을 더이상 확인할 필요가 없어졌다.
## 이 경우에는 이 줄은 생략하고 지나가면 된다.

In [155]:
a= False

In [156]:
if not a:
    print(1)

1

In [157]:
# 이 상황에 a를 바꾸면?

In [158]:
a= 123

In [159]:
if not a:   # 실행이 되지 않는다.
    print(1)

In [160]:
# 이 경우는 두 가지이다. 1. 남을 기분 안좋게 만들고 싶을 때. 2. 하나의 조건이 여러 if문에 작용해야 할 때. 단, 이 때는 반드시 
# a의 위치를 주석으로 꼭 표기해 주어야 한다.

## Type ERROR

In [161]:
1+22+'ㅁㄴㅇㄹ' # 에러가 일어난 위치는 조금만 복잡해져도 틀릴 수 있다. 약간 흘려들을 필요가 있다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [162]:
# 타입 에러는 타입을 틀렸을 때 발생

In [163]:
a = [1,2,3,57,4]

In [165]:
a,sort()   # 이 경우는 못 잡아내는 경우인데, sort는 이미 정의되어 있지만, sort가 정의되지 않았다고 한다. 그렇다면 함수로 인식을
# 못한다는 의미이다. 에러 메시지를 완전히 신용하지는 말되, 완전히 무시하지도 말도록 한다.

NameError: name 'sort' is not defined

## 실습 : 변수를 이용한 연산
- 변수 세 개를 입력받은 뒤, 해당 세 숫자의 합과 차, 곱을 출력하는 프로그램 만들기

In [171]:
a = int(input("첫 번째 숫자 : ")) # 너무 옆으로 늘어지지 않게끔 코드를 보이게 만드는 것도 좋다.
b = int(input("두 번째 숫자 : "))
c = int(input("세 번째 숫자 : "))

print("합은",a+b+c)
print("차는",a-b-c)
print("곱은",a*b*c)

첫 번째 숫자 : 5
두 번째 숫자 : 8
세 번째 숫자 : 77
합은 90
차는 -80
곱은 3080

## if를 이용한 조건문

In [172]:
if 22==22:
    print(22)
    print(33)
print(4)

22
33
4

In [173]:
if 22!=22:
    print(22)
    print(33)
print(4)

4

In [175]:
x = input("number=")

number=234

In [177]:
if x == '234':
    print("ok")

ok

### 실습: if 문을 이용한 코드 만들기
- 숫자 하나를 입력받은 뒤, 그 숫자에 50,100,150을 뺀 숫자를 각각 출력하기
- 이 때, 숫자 출력마다 줄바꿈이 되어야 한다.

In [184]:
a = input("입력 숫자 : ")

if type(a)==str :
    a=int(a)
    print(a-50)
    print(a-100)
    print(a-150)

입력 숫자 : 345
295
245
195

In [185]:
a = int(input("숫자 하나를 입력하세요."))

if -10<a<10:
    print(a-50)
    print(a-100)
    print(a-150)

숫자 하나를 입력하세요.4
-46
-96
-146

In [187]:
a = int(input("숫자 하나를 입력하세요."))

if -10<a<10:
    print(a-50)
    print(a-100)
    print(a-150)

숫자 하나를 입력하세요.4
-46
-96
-146

## 실습 : if 문을 이용한 코드 만들기
-숫자를 입력받고, 그 숫자의 조건에 따라 다른 안내문을 출력하세요.

1. 숫자가 양수인지
2. 숫자가 음수인지
3. 숫자가 100 초과인지

In [192]:
a = int(input("여기에 숫자 입력 : "))

if 0<a<=100:
    print(a,"은/는 양수입니다.")
    
elif a<0:
    print(a,"은/는 음수입니다.")
    
elif a==0:
    print(a, "입력한 숫자는 0 입니다.")
    
else:
    print(a,"100 초과입니다.")

여기에 숫자 입력 : 49
49 은/는 양수입니다.

## 실습
- if, elif , else 구문을 모두 사용한 논리를 만들어보기
- 나눗셈 프로그램 만들기
- 숫자 두 개(x,y)를 받습니다.
- x/y가 나누어 떨어질 경우 나누어 떨어진다고 표현합니다.
- 나누어 떨어지지 않지만, 몫이 1 이상인 경우 몫을 출력합니다.
- 몫이 1 이상이 아닌 경우 나머지를 출력합니다.

In [205]:
x = int(input("첫 번째 숫자 입력:"))
y = int(input("두 번째 숫자 입력:"))


if x%y==0:
    print("나누어 떨어진다.")
elif x//y>=1:
    print(x//y)
else:
    print(x%y)

첫 번째 숫자 입력:510
두 번째 숫자 입력:840
510

## type 체크해서 조건문으로 받는 방법

In [206]:
x = input("입력하세요.")   # 하이라이팅이 되는 것은 함수나 패키지 등이다.

if type(x)==str:
    print("문자열입니다.")

입력하세요.1
문자열입니다.

In [208]:
# 스트링이면 스트링으로 처리, 스트링이 아니면 스트링으로 변환
x = int(input("입력하세요."))

if type(x)==str:
    print("문자열입니다.")
    
else:
    x = str(x)

입력하세요.6

In [209]:
x

'6'

In [210]:
int('99') # 문자열과 int로 감싸면 int로 변환 가능.

99

In [211]:
float("99")

99.0

In [212]:
list("99")

['9', '9']

In [213]:
tuple("99")

('9', '9')

In [214]:
int("99.0") # 이 경우는 활용 불가능. 만약 99.0인 문자열을 int 처리 해야 한다면?

ValueError: invalid literal for int() with base 10: '99.0'

In [215]:
int(float("99.0")) # 이와 같이 처리해야 함. 단 이 경우 소수점 아래 자리는 무조건 버린다는 것을 알아야 함.

99

In [216]:
list("[99,88]")

['[', '9', '9', ',', '8', '8', ']']

In [219]:
float(int(float("99.9"))) # 이미 한번 손실이 일어난 데이터는 어떻게 해도 그대로라는 것을 알아두어야 한다.

99.0

## 문자열 나누기, 붙이기

In [220]:
board = 'abcdefghijklmnopqrstuvwxyz'

In [221]:
"hi"

'hi'

In [222]:
board[7]+board[8]

'hi'

# 실습: 'hi'를 기준으로 board의 앞뒤를 나눠서 출력해 보자

In [228]:
print(board[:7],board[9:]) # 그런데 이 방식은 조금만 길어져도 사용하기 힘들다.

abcdefg jklmnopqrstuvwxyz

In [231]:
print(board.split("hi")[0],board.split("hi")[1]) # 이렇게 하면 위치를 몰라도 됨

abcdefg jklmnopqrstuvwxyz

In [232]:
board = 'abcdefghijklmnopqhirstuvwxyz'

In [233]:
board.split("hi")

['abcdefg', 'jklmnopq', 'rstuvwxyz']

In [234]:
print(board.split("hi")[-1])

rstuvwxyz

In [235]:
board + ',' + "end"

'abcdefghijklmnopqhirstuvwxyz,end'

In [237]:
"ccc".join([board,"end"]) # join 함수는 구분자가 주체가 되어 작용함.

'abcdefghijklmnopqhirstuvwxyzcccend'

실습: split, join 사용해보기
- board = 'abcdefghijklmnopqrstuvwxyz'문자열 이용한다.
- board에 있는 i 글자를 A글자로 바꾼다.

In [238]:
board = 'abcdefghijklmnopqrstuvwxyz'

In [241]:
board.split("i")

['abcdefgh', 'jklmnopqrstuvwxyz']

In [242]:
"A".join([board.split("i")[0],board.split("i")[1]]) # 이미 split된 값이 리스트

'abcdefghAjklmnopqrstuvwxyz'

In [243]:
"A".join(board.split("i"))

'abcdefghAjklmnopqrstuvwxyz'

In [244]:
# 만약 replace를 사용한다면? 위의 결과와 같게 나온다.
board.replace("i","A")

'abcdefghAjklmnopqrstuvwxyz'

In [245]:
"iiiasdfiiiidfdiiiiididsid".replace("i","ㅜ") # 전부 바뀐다.

'ㅜㅜㅜasdfㅜㅜㅜㅜdfdㅜㅜㅜㅜㅜdㅜdsㅜd'

In [246]:
"iiiasdfiiiidfdiiiiididsid".replace("iii","ㅜ") # 전일치로 바꿀 수 있다..

'ㅜasdfㅜidfdㅜiididsid'

In [247]:
" ull oou uee ".strip(" ")

'ull oou uee'

In [248]:
print(" ull oou uee\t ")

 ull oou uee

In [249]:
" ull oou uee\t ".strip("\t")+"123"

' ull oou uee\t 123'

## 실습 : 문자열 처리하기
- "안녕하세요. \n파이썬 2차시 수업 중입니다\n" 문자를 이용할 것
- 계행문자를 모두 제거할 것
- 띄어쓰기를 모두 무시할 것
- 특수문자를 기준으로 나누어 출력할 것.

In [256]:
msg = "안녕하세요.\n파이썬 2차시 수업 중입니다\n"

In [259]:
print(msg)

안녕하세요.
파이썬 2차시 수업 중입니다

In [269]:
msg.strip("\n")

'안녕하세요.\n파이썬 2차시 수업 중입니다'

In [262]:
msg2 = msg.strip("\n")

In [274]:
print(msg2.split(".\n")[0],msg2.split(".\n")[1].replace(" ", ""))

안녕하세요 파이썬2차시수업중입니다

In [287]:
msg = "안녕하세요.\t파이썬 2차시 수업 중입니다!\n"

In [288]:
msg = msg.replace("\n","")

In [289]:
msg = msg.replace("\t","")

In [290]:
msg = msg.replace(" ","")

In [291]:
msg

'안녕하세요.파이썬2차시수업중입니다!'

In [292]:
msg.split(".")

['안녕하세요', '파이썬2차시수업중입니다!']

In [293]:
print(msg.split(".")[0])

안녕하세요

In [295]:
msg.split(".")[1].split("!")

['파이썬2차시수업중입니다', '']

In [297]:
print(msg.split(".")[0])
print(msg.split(".")[1].split("!")[0])
print(msg.split(".")[1].split("!")[1])

안녕하세요
파이썬2차시수업중입니다

## 과제
1. 각 자료형에 따라 연산 예제를 만들어보자.
2. 오늘 배운 모든 자료형을 이용할 것
3.  자료형마다 가능하면 다른 연산을 이용할 것
4. 테스트 후, 동작하지 않는 코드는 동작하지 않는 이유를 생각해보자.

In [301]:
print(4-2)  # int

2

In [319]:
print(3.5//2.3) # float

1.0

In [303]:
print("bye"*3) # str

byebyebye

In [304]:
print([1,2,5]+[3,4,8]) #list

[1, 2, 5, 3, 4, 8]

In [310]:
print((1,2,3)*3) #tuple

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [313]:
# 서울에 해당하는 도시를 인덱싱해보자. # list
city = {"seoul":"gangnam", "gyeonggi":"gwangju"}

In [314]:
city

{'seoul': 'gangnam', 'gyeonggi': 'gwangju'}

In [315]:
city["seoul"]

'gangnam'

In [317]:
True - True == False # bool

True

In [318]:
{1,2,3,3,5}+{5,9,7,3,5} # set는 + 연산 불가.. set은 중복을 삭제 및 정렬시 사용

TypeError: unsupported operand type(s) for +: 'set' and 'set'

## 과제 풀이
- 배웠던 자료형 종류별로 가능한 연산 해보기

In [2]:
# int
11*3

33

In [3]:
#float
66.4//9

7.0

In [4]:
#str
"bye" *3

'byebyebye'

In [5]:
#list
x= [1,2,3,5]

In [6]:
x.append(7) # append 는 한번에 한개씩만

In [7]:
x

[1, 2, 3, 5, 7]

In [8]:
# tuple
(4,5,6)+(7,8)

(4, 5, 6, 7, 8)