## 연산
* = 왼쪽 변수에 오른쪽 값 할당.
* += 왼쪽 변수에 오른쪽 값을 더하고 결과를 왼쪽 변수에 할당  ex) c += a   ==  c = c + a

위와 같은 의미로
-= 
*= 
/= 
%=(나머지를 왼쪽에 할당) 
**=(오른쪽 값만큼 제곱하고 할당) 
//=
이와 같이도 쓸 수 있다.

## 복습
* 연산 복습해보기

1. 9988+456
2. 9936-880012
1. 3^72
4. 7/4의 몫과 나머지, 나눗셈 결과값 

출력

In [1]:
print(9988+456)
print(9936-880012)
print(3**72)
print(7//4,7%4,7/4)

10444
-870076
22528399544939174411840147874772641
1 3 1.75

### 실습 : 3,72,99,108,40,5
* 다섯 가지 숫자의 짝수, 홀수 여부를 판단할 수 있는 코드 만들어보기
* 반복문과 조건문은 사용하지 않아도 됨.

In [3]:
# 짝수: 2로 나누었을 때, 나머지가 0인 숫자.
# 홀수: 2로 나누었을 때, 나머지가 있는 숫자.

for i in [3,72,99,108,40,5]:
    if i%2 == 0 :
        print(i,' 짝수입니다.')
    else:
        print(i,' 홀수입니다.')

3  홀수입니다.
72  짝수입니다.
99  홀수입니다.
108  짝수입니다.
40  짝수입니다.
5  홀수입니다.

## 문자열의 연산

In [4]:
s= "안녕하세요."

In [5]:
s

'안녕하세요.'

In [6]:
s[3]

'세'

In [7]:
s[1:]

'녕하세요.'

In [8]:
s[:3]

'안녕하'

In [9]:
s[1:3] # 리턴값의 따옴표를 지우고 싶다면 출력을.

'녕하'

In [10]:
print(s[1:3])

녕하

In [11]:
print(1) + print(1) # 이것은 연산이 불가능하다.

1
1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [12]:
'hello' * 3 # 원천적으로 문자와 숫자는 연산이 불가하나, 곱셈의 뜻 자체가 앞의 것의 뒤의 수만큼 반복해 더하라는 것이므로 가능한 것.

'hellohellohello'

In [13]:
3 * 'hello'

'hellohellohello'

---
## 리스트의 연산

In [18]:
l = [1,2,34,5,677,0,2,'wsk',1+1,[22,0,9]]

In [19]:
l

[1, 2, 34, 5, 677, 0, 2, 'wsk', 2, [22, 0, 9]]

In [20]:
l[-1]

[22, 0, 9]

In [22]:
l[-1][0]

22

In [23]:
l.append(789)

In [24]:
l

[1, 2, 34, 5, 677, 0, 2, 'wsk', 2, [22, 0, 9], 789]

In [30]:
l2 = ['월', '화', '수', '목', '금', '토', '일']

In [33]:
l2.pop() # 가장 마지막것부터 튀어나온다. 이미 나간 것은 리스트에서 사라진다. 괄호에 숫자 넣으면 그 위치 것이 튀어나간다.

'일'

In [34]:
l2

['화', '수', '목', '금', '토']

## 실습
* 리스트의 연산을 통해 아래 리스트를 만들어봅시다.
* 시작할 리스트: [4]
* 최종 리스트: [99,4,8,7,2,[6],'hello']
* 추가 조건 : 위아래 리스트의 4는 서로 같은 값이다. 삭제 후 추가, 또는 변경이 불가능하다.
* 추가 조건 2: 시작할 리스트 이외의 모든 리스트 사용을 금한다.

In [35]:
l = [4]

In [36]:
l.append(8)

In [37]:
l.append(7)

In [38]:
l.append(2)

In [39]:
l.append([6])

In [40]:
l.append('hello')

In [41]:
l.insert(0, 99)

In [42]:
l

[99, 4, 8, 7, 2, [6], 'hello']

In [43]:
l2=[4]

In [44]:
x = l2.pop()

In [45]:
l2.append(99)

In [46]:
l2.append(x)

In [47]:
l2.append(8)

In [48]:
l2.append(7)

In [49]:
l2.append(2)

In [50]:
l2.append([6])

In [51]:
l2.append('hello')

In [52]:
l2

[99, 4, 8, 7, 2, [6], 'hello']

In [53]:
# push - pop 의 관계  : 파이썬에서는 push 함수가 append에 통합되었다.

---
## 딕셔너리 알아보기

In [54]:
dic = {'hello':123, 'world':456}

In [55]:
dic

{'hello': 123, 'world': 456}

In [56]:
dic['world']

456

In [57]:
dic += {'wow':555}

TypeError: unsupported operand type(s) for +=: 'dict' and 'dict'

* 리스트와 같은 경우에는 앞의 마지막 자리 +1번 자리에 다음 리스트 첫번째를 붙이지만, 딕셔너리는 키 번호가 없으므로 불가.

In [58]:
dic['wow']=555

In [59]:
dic

{'hello': 123, 'world': 456, 'wow': 555}

In [60]:
l

[99, 4, 8, 7, 2, [6], 'hello']

In [61]:
l[7] =99

IndexError: list assignment index out of range

### 튜플

In [62]:
t = (9,5,3,40,99,'wi')

In [63]:
t

(9, 5, 3, 40, 99, 'wi')

In [64]:
t[4]

99

In [65]:
t[3:]

(40, 99, 'wi')

---
## 실습 : 튜플 계산 시도해보기
* 튜플 (4,9,[77],0.32,'qi') 하나를 이용해 연산해보자.
* 튜플의 2번 자리에 있는 값에 9 더하기
* 튜플의 3번 자리에 있는 값에 7 곱하기
* 튜플의 0번 자리에 있는 값을 65.45로 바꾸기
* 가능하다면 해보고, 불가능하다면 이유를 알아보기

In [67]:
tu=(4,9,[77],0.32,'qi')

In [69]:
tu[2]+9

TypeError: can only concatenate list (not "int") to list

In [70]:
tu[2][0]+9

86

In [72]:
tu[2][0]=tu[2][0]+9

In [73]:
tu #2번 자리에 있는 값에 9를 더했다.

(4, 9, [86], 0.32, 'qi')

In [74]:
tu[3]

0.32

In [75]:
tu[3]*7

2.24

In [76]:
tu[3]*=7

TypeError: 'tuple' object does not support item assignment

In [77]:
tu[3] = tu[3] *7

TypeError: 'tuple' object does not support item assignment

In [78]:
list(tu[3])

TypeError: 'float' object is not iterable

In [79]:
list(tu)

[4, 9, [86], 0.32, 'qi']

In [81]:
tu=list(tu)

In [82]:
tu[3]*=7

In [83]:
tu

[4, 9, [86], 2.24, 'qi']

In [84]:
tuple(tu)

(4, 9, [86], 2.24, 'qi')

In [85]:
tu = tuple(tu)

In [86]:
tu

(4, 9, [86], 2.24, 'qi')

In [87]:
tu.pop(1)

AttributeError: 'tuple' object has no attribute 'pop'

---
## 2차원 리스트

In [88]:
l2= [[1,2,3],[4,5,6],[7,8,9]]

In [89]:
l2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [90]:
for i in l2:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [91]:
for i,j,k in l2:
    print(i,j,k)

1 2 3
4 5 6
7 8 9

In [92]:
l2[1]

[4, 5, 6]

In [93]:
l2[1][2]

6

---
## 실습: 2차원 리스트 이해하기
* 가로세로 8* 8 크기의 2차원 리스트를 만든다.
* (6,2) 위치에 X라는 문자를 넣고,
* (0,0) 위치에 P라는 문자를 넣고,
* (7,7) 위치에 F라는 문자를 넣는다.
* 남는 공간은 O 라는 문자를 넣는다.

In [116]:
l3 = [['O','O','O','O','O','O','O','O'],
      ['O','O','O','O','O','O','O','O'],
     ['O','O','O','O','O','O','O','O'],
     ['O','O','O','O','O','O','O','O'],
     ['O','O','O','O','O','O','O','O'],
     ['O','O','O','O','O','O','O','O'],
     ['O','O','O','O','O','O','O','O'],
     ['O','O','O','O','O','O','O','O'],]

In [117]:
l3[2][6] = 'X'

In [118]:
l3[0][0] = 'P'

In [119]:
l3[7][7] = 'F'

In [125]:
l3   # 아무래도 l3[y위치][x위치] 이런 식으로 되는 것 같다.

[['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']]

In [126]:
for i in l3:
    print(i)

['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']

## 실습 : 2차원 좌표 이해하기
* l3 리스트에서 다음과 같이 수정하기
* (7,1) 좌표에서 Y방향으로 1만큼 위로 X방향으로 2만큼 왼쪽으로 이동한 지점의 값을 S로 바꾼다.
* 단, 값 변경은 인덱싱을 이용한다.

In [122]:
l3

[['P', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']]

In [123]:
l3[0][5] = 'S'

In [124]:
l3

[['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']]

In [127]:
l3[2][6]

'X'

In [128]:
l3[7][7]

'F'

In [129]:
[1,2,3][15] # 이와 같은 것이 out of range.

IndexError: list index out of range

In [131]:
[1,2,3][3] = 7  # 이렇게 들어갈 수 없는 곳에 값을 무리하게 집어넣는 것을 오버플로라고 한다.

IndexError: list assignment index out of range

In [132]:
for i in l3:
    print(i)

['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']

In [133]:
len([4,6,8])

3

## 실습 : 리스트 크기 알아보기
* 위 2차원 리스트에서, 전체 크기의 1/2 지점이 되는 x좌표, 전체 크기 - 1 지점이 되는 y 좌표의 값을 'A'로 변경하라

In [138]:
len(l3) # l3의 크기는 8, 이는 y 축 길이가 된다.

8

In [144]:
len(l3[0]) # 이렇게 하면 x 축 길이가 나오게 된다.

8

In [135]:
# 전체 크기인 8의 1/2 지점이 되는 x는 4
# 전체 크기인 8의 -1 지점이 되는 y는 7

In [136]:
l3[7][4] = 'A'

In [147]:
l3

[['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'A', 'O', 'O', 'F']]

In [151]:
len(l3)/2 # 이 수를 그대로 인덱싱에 사용하려고 하니 안된다. float 값을 int로 넣어보자.

4.0

In [152]:
l3[int(len(l3)-1)][int(len(l3[0])/2)]

'A'

---
## 반복문(for)

In [154]:
range(0,10)

range(0, 10)

In [156]:
list(range(0,10)) # 0 부터 세어서 10개의 숫자를 하나씩 표현한다는 것.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [157]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [160]:
list(range(10,0,-1))  # 레인지는 스텝값만 마이너스로 주면 내려가도록 만들 수 있다.

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [161]:
list(range(10,0,2.1)) # 스텝값은 정수 값만을 받는다. 만약 소수로 올라가게 하고 싶다면 10이나 100을 곱한 후 처리하고 나눠주면 된다.

TypeError: 'float' object cannot be interpreted as an integer

In [163]:
# 왜 안되는것인가?
'%.19f' %(1.3)

'1.3000000000000000444'

In [164]:
# 고정소수점, 부동소수점

고정소수점 = 0.10000000000000000000000..
부동소수점 = 0.10000000000000000000023..

In [166]:
# cpu는 고정소수점 연산을 잘 해낼 수 있지만, 다른 쪽에서는 부동소수점을 쓰는 경우가 많다.
# 파이썬도 연산능력이 상대적으로 떨어져 부동소수점을 쓴다. 
# 부동소수점같은 경우에는 오차가 조금 생기게 되는데, 이를 스텝을 주게 되어버리면 오차가 겉잡을 수 없이 커지기 때문에 지원하지 않음

In [169]:
x=[1,9,55,963,'hello','49.7268']

In [170]:
x

[1, 9, 55, 963, 'hello', '49.7268']

In [172]:
'hello' in x   # A in B 이면 A 라는 값이 B 라는 리스트 안에 있는지 여부에 따라 T F 로 나타내준다.

True

In [174]:
'49' in x    # 부분적으로는 지원되지 않는다.

False

In [178]:
for i in range(10):
    print(1)

1
1
1
1
1
1
1
1
1
1

In [179]:
for i in [2,4,6,8]:
    print(i)

2
4
6
8

In [180]:
l = [i%2 for i in range(20)]

In [181]:
l

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [182]:
l = []

for i in range(20):
    l.append(i%2)
    print(l)

[0]
[0, 1]
[0, 1, 0]
[0, 1, 0, 1]
[0, 1, 0, 1, 0]
[0, 1, 0, 1, 0, 1]
[0, 1, 0, 1, 0, 1, 0]
[0, 1, 0, 1, 0, 1, 0, 1]
[0, 1, 0, 1, 0, 1, 0, 1, 0]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

## 실습 : 반복문 두 종류 사용해보기
* 리스트 ABC 를 사용한다.
* ABC 리스트에는 다음 조건에 해당하는 값이 저장되어 있다.
1. 7로 나누었을 때의 몫
1. 범위는 20-100 까지이며, 이 중에서 짝수는 제외한다.
* 가능하면 리스트 컴프리헨션을 이용한 코드로 적어 본다.

In [198]:
ABC = [i//7 for i in range(20,101) if i%2!=0]  
print(ABC)

[3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10, 11, 11, 11, 11, 12, 12, 12, 13, 13, 13, 13, 14]

In [197]:
len(ABC)

40

In [199]:
ABC = [i//7 for i in range(21,100,2)]
print(ABC)

[3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10, 11, 11, 11, 11, 12, 12, 12, 13, 13, 13, 13, 14]

## 과제

* 숫자 하나를 입력받으면 아래 계산을 하는 프로그램 만들기
* 1부터 입력받은 숫자까지의 범위에서
* 홀수인 경우 , 해당 숫자 이하의 모든 범위(자연수만)의 숫자를 더한 값을 출력한다. 
* 짝수인 경우 값을 그냥 출력한다.

In [219]:
x = int(input("여기에 숫자를 입력 : "))
y = 0

for bc in range(1,x+1):
    if bc%2 == 1:
        
        for ac in range(1,bc+1):
            y += ac
        print(y)
        y=0
        
    else:
        print(bc)

여기에 숫자를 입력 : 0

In [205]:
s

'안녕하세요.'

In [206]:
's' in vars()

True

In [207]:
s

'안녕하세요.'

In [212]:
숫자 = 0

for i in range(0,5):
     숫자+= i
    숫자 = 숫자 + i
print(숫자)

10

In [220]:
# 숫자 하나를 입력받는 코드
number_one = int(input('숫자 하나를 입력 : '))

숫자 하나를 입력 : 2

In [221]:
number_one = int(input('숫자 하나를 입력 : '))

for nm in range(1,number_one+1):
    if nm % 2 == 0:
        
        print(nm, ": 짝수값")
        
    elif nm % 2 != 0:
        temp_nm = 0
        
        for sum_nm in range(1,nm+1):
            temp_nm += sum_nm
            
        print(temp_nm, ": 홀수값")

숫자 하나를 입력 : 25
1 : 홀수값
2 : 짝수값
6 : 홀수값
4 : 짝수값
15 : 홀수값
6 : 짝수값
28 : 홀수값
8 : 짝수값
45 : 홀수값
10 : 짝수값
66 : 홀수값
12 : 짝수값
91 : 홀수값
14 : 짝수값
120 : 홀수값
16 : 짝수값
153 : 홀수값
18 : 짝수값
190 : 홀수값
20 : 짝수값
231 : 홀수값
22 : 짝수값
276 : 홀수값
24 : 짝수값
325 : 홀수값

---
## 코드 정리하는 법

In [222]:
number_one = int(input('숫자 하나를 입력 : '))

for nm in range(1, number_one+1):
    
    if nm % 2 == 0:
        
        print(nm, ": 짝수값")
        
    elif nm % 2 != 0:
        temp_nm = 0
        
        for sum_nm in range(1,nm+1):
            temp_nm += sum_nm
            
        print(temp_nm, ": 홀수값")

숫자 하나를 입력 : 2
1 : 홀수값
2 : 짝수값

* for if elif 등은 한 줄씩 띄어서 쓴다. 
* nm*2 와 같이 붙이지 않고 nm * 2 이와 같이 쓴다.
* , 콤마는 뒤를 띄어 쓴다.
* .온점은 붙여 쓴다.
* if 뒤에 오는 조건이 너무 복잡해질 경우 조건에 () 괄호를 씌울 수 있다.

In [223]:
import math  # 패키지는 맨 위에! 이 밑에는 두 줄을 띈다.
import time


def func1():            # 함수들은 각각을 한 줄 씩 띄어 쓴다.
    return True

def func2():
    return False

x = 123  # 내용은 그 밑에 한 줄을 띄고 쓴다. 


time.sleep(1)

### 리턴과 프린트

In [227]:
a = 1+1

In [228]:
b = print(1+1)

2

In [232]:
type(a)

int

In [231]:
type(b)

NoneType

* 위와 같이 리턴은 변수가 받아서 파이썬에서 처리하도록 할 수 있다. 하지만 저장하지 않으면 그냥 흘러내려간다.
* 프린트는 사람에게 출력해서 보여주게 되므로 파이썬쪽에서는 들고 있지 않다. 그 정보로는 파이썬 내에서 처리가 불가능하다.

In [233]:
1+1
2+2
4+4
8+8

16

* 리턴값에서는 여러 개의 값이 들어올 경우 맨 마지막의 값만 띄워준다.

In [234]:
print(1+1)
print(2+2)
print(4+4)
print(8+8)

2
4
8
16

* 프린트에서는 각각의 값을 모두 보여주므로, 전부 볼 필요가 있을 때에는 프린트를 사용하는게 맞다.
* 저장도 하고 프린트도 해야 한다면 아래의 방식을 사용할 수 있다.

In [235]:
a = 1+1
b = 2+2
c = 4+4
d = 8+8

print(a,b,c,d)

2 4 8 16

## 기능하는 코드

In [236]:
for j in range(10):
    ind = j
    
    for i in range(10):
        
        ind += 1
        
    print(ind)

10
11
12
13
14
15
16
17
18
19