# 반복문 while 알아보기

* while True : 라고 하면 while 오른쪽 조건이 참일 경우 실행한다.
* for문은 우측의 범위를 이용하지만, while문은 조건을 이용하게 된다.

### 반복문의 형태 - for
* for i in range(1,11):<br>
    print(i)

### 실습
* 반복문 for 와 range를 이용해서
* 99-396 범위 사이의 4의 배수만 골라 출력한다.

In [ ]:
for i in range(99,396+1):
    if i % 4 == 0:
        print(i)

### 실습 :  while 문
* while 문을 이용한 무한반복 실행해보기

In [ ]:
#  while 1:
    #  print(1)  # 이는 무한반복되므로, 정지 버튼을 여러번 누르거나, 커널 리스타트를 해 줘야 한다.

### 실습 : while 문
* [99,66,8,74,'ABC','456'] 리스트에서 하나씩 값을 출력하는 코드를 만들어보자.
* 이 때, while 무한반복문을 사용한다.
* 에러가 발생할 경우, 원인을 파악한다.
* 리스트의 인덱싱을 이용한다.
* 리스트 또는 인덱싱 요소에 다른 조치를 취하지 않는다.

In [ ]:
li = [99,66,8,74,'ABC','456']
i = 0

while True:
    print(li[i])
    i += 1

* 이렇게 범위초과 에러가 뜨게 된다.

In [ ]:
li = [99,66,8,74,'ABC','456']
i = 0

while True:
    print(li[i])
    i += 1
    
    if i >= len(li):
        break

* 위와 같은 방법으로 끝내 줄 수는 있다.

In [ ]:
li = [99,66,8,74,'ABC','456']

while li != []:
    print(li.pop(0))

* 위와 같이 pop을 사용하여 indicator 없이도 같은 출력이 가능하다.

In [ ]:
li = [99,66,8,74,'ABC','456']

for i in li:
    print(i)

* 당연하게도 이와 같이 for문을 사용해 코딩할 수도 있다.

---
### 실습 : while 문, for 문 상호 변환
* 아래 코드를 다른 형태의 루프문으로 변경하시오

In [ ]:
x = '99,25,4,5,6,7,8'

for i in ['77','a', x, 66,'hello!']:
    if i == x:
        print(i)

In [ ]:
x = '99,25,4,5,6,7,8'
li = ['77','a', x, 66,'hello!']
ind = 0

while True:
    if li[ind] == x:
        print(li[ind])
    
    ind += 1
    
    if ind >= len(li):
        break

In [ ]:
x = '99,25,4,5,6,7,8'
ind = 0

while 1:
    if ind == 0 or ind == 1:
        print(x[ind][-1])
        
    else:
        print(x[ind])
        
    ind += 1
    
    if ind == 7:
        break

In [ ]:
x = '99,25,4,5,6,7,8'

for i in range(7):
    if i == 0 or i == 1:
        print(x[i][-1])
    
    else:
        print(x[i])

* 하지만 이를 굳이 이렇게 쓸 필요가 있는가?
* if와 else 의 경우를 나눠 놓을 필요가 없다.

In [ ]:
x = '99,25,4,5,6,7,8'

for i in range(7):
    print(x[i])

In [ ]:
'hello,12345'[4] #  인덱싱을 하면 문자'열' 로 나온다. 그러므로, 한 글자도 인덱싱이 가능하다.

In [ ]:
'o'[0]

In [ ]:
'o'[1]

In [ ]:
'o'[-1]

In [ ]:
# 코드 쪼개서 실행하기

In [ ]:
x = '99,25,4,5,6,7,8'
ind = 0

In [ ]:
ind2 = 0

In [ ]:
# while 문에서 제일 처음 해볼 것은 마지막에 break를 써주는 것이다. 

while 1:
    if ind == 0 or ind == 1:
        print(x[ind][-1])
        
    else:
        print(x[ind])
        
    ind += 1
    
    if ind == 7:
        break
    
    break

* 이 경우 첫 번째만 실행되고 종료된다.

In [ ]:
# indicator 하나를 더 주고 숫자를 하나씩 늘려 간다. 더 이상 출력값에 변화가 없을 때 까지..

while 1:
    if ind == 0 or ind == 1:
        print(x[ind][-1])
        
    else:
        print(x[ind])
        
    ind += 1
    
    if ind == 7:
        break
    
    ind2 += 1
    print(f'루프 {ind2} 번째')
    if ind2 >= 8:
        break

 ---
 ### 이중루프
 * for문, while 문은 모두 이중루프 이상이 가능하다.

In [ ]:
list_ex = []

for i in range(10):
    for j in range(10):
        list_ex.append([1,2,3])
        
list_ex

In [ ]:
list_ex2 = []

for i in range(100):
    list_ex2.append([1,2,3])

In [ ]:
list_ex == list_ex2

* 위와 같이 논리적으로 동일한 코드라면, 루프를 최소한으로 사용하는 것이 좋다. 
* 위의 사례는 개념적으로 단일루프이다.

In [ ]:
list_ex3 = []

for i in range(10):
    list_ex3.append([1])
    
    for j in range(10):
        list_ex3.append([2,3])

In [ ]:
list_ex3

In [ ]:

# 이렇게 되면 결국은 이중루프인 것인데..

In [ ]:
# 이렇게 했을 때에는 단일루프로 만들어 낼 수 있다!

list_ex4 = []

for i in range(100):
    if i % 10 == 0:
        list_ex4.append([1])
    
    list_ex4.append([2,3])

In [ ]:
list_ex3 == list_ex4

---
### 이중 루프 (루프 3 개를 이용한)

In [ ]:
var1 = 0
var2 = []
var3 = ''

for i in range(10):
    var1 += 1
    
    for j in range(10):
        var2.append(var1)
        
    for k in range(10):
        var3 = f'{var2}'

* 큰 사이클 하나만 생각해 보자.
* 일단 var1 에 1이 저장된다.
* 그 다음 두번째 for 문에서 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 이 저장될 것이다.
* 그 다음 세번째 for 문에서 '[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]' 라는 문자열이 저장될 것이다.
<br>
* 이 것이 다 돌면 그 다음 사이클이 돈다.
* var1 에 2가 저장된다.
* 두번째 for 문에서 앞에 저장된 것과 덧붙여서 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2] 가 저장될 것이다.
* 세 번째 for 문에서 var2 값을 그대로 문자열로 var3에 저장할 것이다. 
* 이와 같이 큰 사이클이 10 회 진행된다.

In [ ]:
var1

In [ ]:
var2

In [ ]:
var3

In [ ]:
var3[0]

In [ ]:
# 확인 작업을 위한 코드

var1 = 0
var2 = []
var3 = ''

for i in range(10):
    var1 += 1
    
    for j in range(10):
        var2.append(var1)
        
    for k in range(10):
        var3 = f'{var2}'
        
    if var1 == 3:
        break

In [ ]:
var1

In [ ]:
var2

In [ ]:
var3

In [ ]:
var3[3] # 콤마 뒤의 공백!

### 실습
* 이중 루프 만들기
* 루프문 5 개를 이용한 이중 루프를 만들자
* 단, 루프문 3개는 서로 관련이 있어야 한다. (같은 변수를 공유하거나, 해당 변수의 값을 받아 쓴다거나..)
* 어떤 루프문 2 개는 서로 관련이 없어야 한다. (변수 등을 공유하지 않고, 서로의 값이 영향을 끼치지 못함.)
* 하나 이상의 루프문은 다른 루프문 하나 이상을 감싼 형태여야 한다. 
* 두 덩어리의 이중루프가 있어도 무방하다.
* 예제의 종류 및 연산방법은 수강생이 정한다.

In [ ]:
loop_int = 0
loop_li = []
loop_str = '루프 종료'

for i in range(5):
    loop_int += 1
    print(loop_int, "번째 루프입니다.")
    
    for j in range(5):
        loop_li.append(loop_int)
        print(loop_li)
        
for k in range(3):
    print(loop_str)
    
while loop_int >= 0:
    
    for n in range(loop_int):
        print(loop_int)
        
    loop_int -= 1

loop_int = 0
loop_li = []
loop_str = '루프 종료'

<아래의 1과 2 과정을 5회 반복한다.>
1. loop_int 값에 1을 더한 후 그 값을 'loop_int 번째 루프입니다.' 라고 출력한다. 
2. 그 다음, loop_int 값을 loop_li에 5 번 반복해 저장하며, 반복 시 마다 출력한다.

3. 위의 과정이 모두 끝나면 loop_str 을 3회 반복 출력한다.

<loop_int 값이 0이 될 때까지 4와 5의 작업을 반복한다.>
4. loop_int 값을 loop_int회 출력한다.
5. loop_int 값을 1 뺀다.

---
#### 팀원의 문제를 풀어 보자.

초기값 변수 B1을 받는다. 
B2는 비어있는 리스트이다.

1. 'B1'+4 회 루프한다
2. 'B1'의 제곱값을 'B1'^2회 'B2'리스트에 추가한다. 이는 B1^2회 반복한다.
3. 'B2'리스트를 출력한다. 이는 'B1'^2회 반복한다.
4. 'B1'+1을 한다. 

5. 요소 'a', 'b', 'c', 'd', 'e'를 가진 리스트를 루프한다.
6. 값을 3회씩 반복출력한다.

In [ ]:
B1 = int(input("여기에 초기값 입력 : "))
B2 = []

for i in range(B1+4):
    for j in range(B1**2):
        B2.append(B1**2)
    for k in range(B1**2):
        print(B2)
    B1 += 1
        
for n in ['a','b','c','d','e']:
    for m in range(3):
        print(n)

---
## 과제

* 반복문 이용해보기
* 숫자 하나를 입력받으면 아래 계산을 하는 프로그램 만들기
* 1부터 입력받은 숫자까지의 범위에서
* 짝수만 골라 팩토리얼 계산 결과를 출력한다.
* 홀수인 경우, 해당 숫자 이하의 모든 범위의 숫자를 더한 값을 출력한다.
* 단, 해당 프로그램을 for 문과 while 문을 이용해서 하나씩 만든다.
* 이 때, continue 와 break 을 이용해본다. (권장사항)

In [19]:
input_nm = int(input("숫자 하나를 입력 : "))


for num in range(1, input_nm + 1):
    if num % 2 == 0:
        
        facto = 1
        for fa in range(1, num + 1):
            facto *= fa
            
        print(num, "! =", facto)
        
    else:
        
        sum_nm = 0
        for s_nm in range(1, num + 1):
            sum_nm += s_nm
        
        print("1 부터 ", s_nm, "까지 전체합 = ", sum_nm)

숫자 하나를 입력 : 15
1 부터  1 까지 전체합 =  1
2 ! = 2
1 부터  3 까지 전체합 =  6
4 ! = 24
1 부터  5 까지 전체합 =  15
6 ! = 720
1 부터  7 까지 전체합 =  28
8 ! = 40320
1 부터  9 까지 전체합 =  45
10 ! = 3628800
1 부터  11 까지 전체합 =  66
12 ! = 479001600
1 부터  13 까지 전체합 =  91
14 ! = 87178291200
1 부터  15 까지 전체합 =  120

In [24]:
input_nm = int(input("숫자 하나를 입력 : "))
nm = 1

while nm <= input_nm:
    if nm % 2 == 0:
        
        fa = nm
        facto = 1
        while fa > 0:
            facto *= fa
            fa -= 1
            
        print(nm, "! = ", facto)
        
    else:
        
        s_nm = nm
        sum_nm = 0
        while s_nm > 0:
            sum_nm += s_nm
            s_nm -= 1
        
        print("1 부터 ", nm, "까지 전체합 = ", sum_nm)
            
    nm += 1

숫자 하나를 입력 : 15
1 부터  1 까지 전체합 =  1
2 ! =  2
1 부터  3 까지 전체합 =  6
4 ! =  24
1 부터  5 까지 전체합 =  15
6 ! =  720
1 부터  7 까지 전체합 =  28
8 ! =  40320
1 부터  9 까지 전체합 =  45
10 ! =  3628800
1 부터  11 까지 전체합 =  66
12 ! =  479001600
1 부터  13 까지 전체합 =  91
14 ! =  87178291200
1 부터  15 까지 전체합 =  120