## 주피터 경로 변경?
* 아나콘다 프롬프트 실행
* cd (경로) 이용해서 원하는 위치로 이동
* 원하는 위치에서 jupiter notebook 쳐서 실행

## 함수

def ( 함수 이름 ) (input):
    (코드)
    return (리턴값)

* 함수에 입력받는 값은 어떠한 형식이든 상관 없다. 변수 형식으로 넘겨줄 수 있다면.
* 파이썬에서 변수 형식으로 넘겨 줄 수 없는 것은 거의 없으므로 사실상 거의 다 된다고 보면 된다.
* 함수는 리턴을 한번 하게 되면 그 뒤에 어떠한 코드가 존재하던 간에 끝이 나게 된다.
* 리턴을 여러 개 하고 싶다면? 여러개 묶을 수 있는 자료형을 사용해 한 덩어리로 리턴하면 된다.
* 또는? 그냥 옆으로 늘여서 쓰면 된다. return x, y, z, w 이러한 식으로..

In [1]:
# print 와 return 의 차이.

def func2(x, y):
    return x, y

def func3(x, y):
    print(x, y)
    
    
a, b = func2(2, 3)
c, d = func3(3, 5)

3 5

TypeError: cannot unpack non-iterable NoneType object

### 함수를 이용한 코드 작성 편의성 확인

In [3]:
# 리스트 컴프리헨션
# 아무리 긴 코드라도 함수 안에 넣어서 리스트 컴프리헨션 실행 가능.

def func4(i):
    return i
    
[func4(3) for i in range(10)]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [4]:
# apply 함수 이용
# 데이터프레임에서 apply 할 때 사용 가능

df['col1'].apply(lambda x : fn(x))

NameError: name 'df' is not defined

In [5]:
# 반복문에 활용
# 함수의 중첩도 가능하다.

for i in range(10):
    print(func4(i))

0
1
2
3
4
5
6
7
8
9

In [6]:
# 파이썬 패키지 내 함수
# time.sleep 과 같은 것..

import time


print(1)
time.sleep(2)
print(12)

1
12

In [7]:
# 자료형에서 지원하는 함수
# replace는 연산과 리턴을 모두 하는 함수이다.

'hello'.replace('h','l')

'lello'

## 실습

In [8]:
def func1():
    print('function 1')
    
func1()

function 1

In [9]:
def func1():
    return 'function 1'
    
func1()

'function 1'

In [10]:
# 이와 같이 리턴을 두번 써도 오류는 나지 않으나 최초의 하나만 리턴된다.

def func1():
    return 'function1'
    return 'function2'

In [11]:
func1()

'function1'

In [14]:
# 두 개로 나눠 받고 싶다면 아래와 같이 하면 된다.

def func1(x):
    if x == 1 :
        return 'function1'
    else:
        return 'function2'

In [15]:
# 그런데 x 가 10인데 왜 함수가 function 2 로 리턴하지 않는 것인가.?

x = 10
a = 1


func1(a)

'function1'

In [16]:
x

10

In [34]:
x = 10
a = 1

def func1(x):
    x = 1
    
    if x == 1 :
        return 'function1'
    else:
        return 'function2'

In [41]:
func1(2)

'function1'

In [38]:
x = 10

for x in range(5):
    print(1)
    
    
x

1
1
1
1
1

4

In [39]:
def func2(x) : 
    for x in range(5):
        print(1)
        
func2(10)

1
1
1
1
1

In [40]:
x

4

In [42]:
math.sort(10)

NameError: name 'math' is not defined

In [43]:
# 함수는 내가 한 파일 안에 함수를 선언했더라도, 사실상 다른 파일이라고 봐도 무방하다. 
# 다른 패키지를 임포트 해서 사용하는 것 처럼 동작한다.
# 함수 내의 변수를 지역 변수라고 하며, 함수 바깥의 변수를 전역 변수라고 부른다.

In [53]:
def func2(input1) :
    input3 = input1 + input2
    
    return input3

In [54]:
# 전역변수
input2 = 384

In [55]:
func2(768)

1152

* 함수의 경우 전역변수는 안으로 들어갈 수 있고, 지역변수는 바깥으로 나올 수 없게 되어 있다.

In [61]:
# 이 코드는 에러가 난다. 왜 날까?

def func2(input1) :
    input3 = input1 + input2
    input2 += 5
    
    return input3

input2 = 384
func2(777)

UnboundLocalError: local variable 'input2' referenced before assignment

In [ ]:
# global선언 없이 함수 내에서 전역변수를 사용할 경우
# print(a) , if a == 1: 과 같이 조회하는 기능만 가능하다.

# a값을 변경하는 것과 같이 "할당"을 해주려면 global선언이 필수적이다.

In [58]:
def func2(input1) :
    global input2
    
    input3 = input1 + input2
    input2 += 5
    
    return input3

input2 = 384
func2(777)

1161

* 함수는 변수를 일단 로컬에서 먼저 찾고, 없을 경우 전역(글로벌) 에서 찾아 오게 된다.
* 6번 줄에서 input2를 지역 변수로 선언하려고 시도하는데, 이미 같은 이름으로 5번 줄에서 전역 변수가 사용되기 때문에
* 지역변수로는 어떻게 할 수 없다.
* 해결법으로는 위의 2번 줄과 같이 input2를 지역변수처럼 쓰지만, 사실 전역변수라고 선언해주면 된다.
* 이렇게 전역변수로 한번 함수 내에서 쓰이게 되면 그 값은 지역에서 수정이 불가하다.

In [69]:
# 그래서 지역변수로 선언하는 부분을 넣어 보았다... 그런데 안된다? 

def func2(input1) :
    
    input3 = input1 + input2
    input2 = 999
    input2 += 5
    
    return input3

input2 = 384
func2(777)

UnboundLocalError: local variable 'input2' referenced before assignment

* 위의 해결법은 함수가 전역변수를 사용하기 전에 지역변수로 선언해야 한다는 것이다.
* 아래와 같이 하면 된다.

In [63]:
def func2(input1) :
    
    input2 = 999
    input3 = input1 + input2
    input2 += 5
    
    return input3

input2 = 384
func2(777)

1776

---
## 실습 : 함수를 이용한 반복문
* func3 함수를 만든다.
* 해당 함수는 입력된 두 수의 제곱을 각각 리턴한다.
* 1-10 범위에서 해당 연산을 반복하고 출력하도록 구성한다.

In [70]:
def func3(x, y):
    return x**2, y**2


a = float(input("첫 번째 수 : "))
b = float(input("두 번째 수 : "))


for i in range(1, 11):
    print(func3(a, b))

첫 번째 수 : 2.55
두 번째 수 : 6.4
(6.5024999999999995, 40.96000000000001)
(6.5024999999999995, 40.96000000000001)
(6.5024999999999995, 40.96000000000001)
(6.5024999999999995, 40.96000000000001)
(6.5024999999999995, 40.96000000000001)
(6.5024999999999995, 40.96000000000001)
(6.5024999999999995, 40.96000000000001)
(6.5024999999999995, 40.96000000000001)
(6.5024999999999995, 40.96000000000001)
(6.5024999999999995, 40.96000000000001)

In [71]:
# 함수가 선언되기 전에 사용하면 안된다.
func_ex(2, 9)

NameError: name 'func_ex' is not defined

In [ ]:
def func_ex(a, b):
    print(a, b)

In [ ]:
# 같은 셀에 있더라도 먼저 사용하면 안된다. 

func_ex(2, 9)

def func_ex(a, b):
    print(a, b)

In [77]:
numberA

NameError: name 'numberA' is not defined

In [90]:
def func_ex():
    print(numberA, numberB)

In [79]:
func_ex()

TypeError: unsupported operand type(s) for //: 'str' and 'int'

* 왜 아래에 와서야 오류를 냈을까?
* 선언 시에는 numberA가 선언되지 않았더라도 나중에 전역변수를 가져올 수도 있으니..
* 그럼 아예 맞는지 체크도 안하는 것일까?

In [80]:
# 그냥 들어간다?

def func_ex():
    "hello"//3
    print(numberA, numberB)

In [82]:
# 여기도 이제서야 에러가 난다.

func_ex()

TypeError: unsupported operand type(s) for //: 'str' and 'int'

In [86]:
# 철자도 틀려 보자.
# 없는 함수도 일단은 선언된다... 그런데 이건 다른 함수가 있을 수도 있어서 되는 것이 아닌가?

def func_ex():
    [1,2,3].ppand(4)
    print(numberA, numberB)

In [87]:
func_ex()

AttributeError: 'list' object has no attribute 'ppand'

In [91]:
# 괄호를 안닫았더니 오류가 났다!

def func_ex():
    print(numberA, numberB

SyntaxError: unexpected EOF while parsing (281878824.py, line 2)

In [93]:
# 의미 없는 특수문자를 써 보았더니 오류가 났다!

def func_ex():
    print(numberA, numberB)
    \\\

SyntaxError: unexpected character after line continuation character (4195843649.py, line 5)

* 함수를 선언할 때에는 실행을 하는 것이 아니므로, 변수 선언이 안됐더라도 함수 선언을 할 수 있다.
* 불가능한 연산이 들어간 경우에는, 아예 실행을 해보지 못하기 때문에 체크하지 못하므로 그냥 선언된다.
* 다만, 함수 내부에서 구조적인 문제가 있을 경우에는 무조건 에러가 나게 되어있다.
* 괄호를 닫지 않거나, 의미없는 특수문자를 쓴다거나 하는 것..
* 즉, 실행되지 않아도 발생하는 에러를 우선적으로 체크하는 것이다.

## 파이썬 중급 공부하기

* 구글에 궁금한 기법 "github"
* 구글 학술검색에서 지원하는 자료 찾기
* 궁금한 내용은 추가 구글링

In [94]:
def func1(x):
    return x

In [99]:
def func2(y):
    return y

In [105]:
def func3(x):
    def func6(x):
        return x

In [106]:
func1(1)

1

In [107]:
func2(2)

2

In [103]:
func3(3)

In [109]:
# 왜 func6 을 없다고 할까?
# func6 이 실행되지 않았기 때문인가?

func6(5)

NameError: name 'func6' is not defined

In [112]:
# 이와 같이 해보아도 동작하지 않는다.

def func3(x):
    def func6(x):
        return x
    
    func6(x)

In [113]:
func3(4)

In [136]:
# 함수 자체가 리턴되어서 나오는 순간 함수가 실행이 끝난다.
# func6 함수는 func3 함수가 실행되는 중에만 정의되어 작동할 수 있다.
# func3 함수가 마지막 줄에서 리턴해서 끝나는 순간 func6 함수는 다시 정의되지 않은 함수가 된다.
# 라고 생각했다.

def func3(x):
    
    def func6(x):
        return x
    
    print(func6(55))
    
    print(1+1)
    return x

In [137]:
func3(4)

55
2

4

In [138]:
func6(3)

NameError: name 'func6' is not defined

* 함수 내부 함수의 지역변수를 메인함수의 변수로 쓸 수 없다. 
* 위와 같이 쓴다고 해서 4가 3안에 포함, 3은 메인 안에 포함 이런 식으로 된게 아니다.
* 단순히 통신이 되는 것이라고 보면 좋다. <br><br>
* 메인 - 3 - 4 
* 3에서는 4로 인풋 가능, 4에서 3으로만 리턴 가능.
* 메인에서 3으로 인풋 가능, 3에서 메인으로 리턴 가능.
* 위 관계를 뛰어넘고 메인 - 4로 바로 왔다갔다 할 수는 없다.

---
## 실습 : 함수 써보기

In [150]:
def sum_all(x, y, z, w):
    sum_1 = x + y        # 입력x + 입력y
    sum_2 = sum_1 + z    # 입력x + 입력y + 입력z
    sum_3 = sum_1 + z    # 입력x + 입력y + 입력z
    sum_4 = sum_3 + sum_2 + sum_1   # 3 * (입력x + 입력y) + 2 * 입력z
    
    sum_5 = 0
    for i in range(w):
        sum_5 += sum_4      # sum_5 = 입력w * {3 * (입력x + 입력y) + 2 * 입력z}
        
    return sum_5

def for_loop(x, y):     # for_loop(num1_res 계산값, 입력x)
    res = 0
    
    for i in range(x):   #  for i in range(num1_res 계산값):
        res += x              # res += num1_res 계산값
        
        for j in range(y):     # for j in range(입력x):
            res -= j           # res -= j
            
    return res

def list_return(x, y, z, w):                # list_return(num1_res값, num2_res값, 입력z, 입력w)
    return [i + x + z for i in range(x)]   # return [i + num1_res값 + 입력z for i in range(num1_res값)]
         
    
x = int(input("Number 1 : "))
y = int(input("Number 2 : "))
z = int(input("Number 3 : "))
w = int(input("Number 4 : "))
                    # [0+num1_res값+입력z, 1+num1_res값+입력z, ... , (num1_res값-1)+num1_res값+입력z]


num1_res = sum_all(x, y, z, w)
num2_res = for_loop(num1_res, x)
num3_res = list_return(num1_res, num2_res, z, w)

print(num1_res)
print(num2_res)
print(num3_res)

Number 1 : 1
Number 2 : 2
Number 3 : 3
Number 4 : 4
60
3600
[63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [146]:
num1_res

60

In [147]:
num2_res

3600

In [156]:
def sum_all(x, y, z, w):
    
    sum_1 = x + y
    sum_2 = 3 * sum_1 + 2 * z 
    sum_3 = sum_2 * w     # sum_5 = 입력w * {3 * (입력x + 입력y) + 2 * 입력z}
        
    return sum_3

def for_loop(x, y):     # for_loop(num1_res 계산값, 입력x)
    
    Lo = 0   
    for j in range(y):     # for j in range(입력x):
        Lo += j           # res -= j    
    
    res = x**2 - Lo * x
    
    return res

def list_return(a, z, w):                # list_return(num1_res값, num2_res값, 입력z, 입력w)
    return [k + a + z for k in range(a)]   # return [i + num1_res값 + 입력z for i in range(num1_res값)]
         
    
x = int(input("Number 1 : "))
y = int(input("Number 2 : "))
z = int(input("Number 3 : "))
w = int(input("Number 4 : "))
                    # [0+num1_res값+입력z, 1+num1_res값+입력z, ... , (num1_res값-1)+num1_res값+입력z]


num1_res = sum_all(x, y, z, w)
num2_res = for_loop(num1_res, x)
num3_res = list_return(num1_res, z, w)

print(num1_res)
print(num2_res)
print(num3_res)

Number 1 : 1
Number 2 : 2
Number 3 :

ValueError: invalid literal for int() with base 10: ''

In [157]:
import pandas as pd

df = pd.read_excel('C:/Users/user/Desktop/lecfile/nov/221108/RNAseq_result.xlsx')

In [158]:
for i in df.index:
    df.loc[i, "WT1"] += 1

In [159]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [160]:
# apply 하면 시리즈가 리턴되며 , 아래의 방법은 시리즈를 다시 WT1에 재할당한다.
# lambda 는 불특정 다수를 의미하게 된다. 
# 'WT1' 컬럼에 있는 불특정 다수 x 값을 x+1 한 값으로 적용해준다.

df['WT1'] = df['WT1'].apply(lambda x: x+1)
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [161]:
# 시리즈는 리스트와 비슷한 특징을 많이 가진다. 리스트를 데이터프레임에 붙여도 동작한다.
# 리스트 컴프리헨션은 C 를 이용한 것이어서, 다중코어를 사용하여 빠르게 연산 가능.

df["WT1"] = [i+1 for i in df["WT1"]]

In [162]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 람다

In [163]:
# 람다를 단독으로 쓸 수는 없을까?

(lambda x : x+1) ([1,3,4,5,6])

TypeError: can only concatenate list (not "int") to list

In [166]:
(lambda x : x+1) (["1", "3", "4", "5", "6"])

TypeError: can only concatenate list (not "int") to list

---
### 람다 함수
* lambda x: 형식으로 이용
* df["WT1"].apply(lambda x: x+1) 식으로 사용할 경우 pandas Serial 로 반환됨
* (lambda x: x+1)(456) 식으로 사용할 경우 int로 반환됨
* 위 예시를 제외한 방법으로 list-like-object를 만들어보자.

In [190]:
# map 함수를 써 볼 수 있다.
# 리스트로부터 원소를 하나씩 꺼내서 함수를 적용시킨 다음, 그 결과를 새로운 리스트에 담아준다. 

A = [1, 3, 4, 5, 6]

list(map(lambda x : x + 1, A))

[2, 4, 5, 6, 7]

In [191]:
# filter 함수도 있다.
# 리스트에 들어있는 원소들을 함수에 적용시켜서 결과가 참인 값들로 새로운 리스트를 만들어준다.

list(filter(lambda x: x < 5, range(10)))

[0, 1, 2, 3, 4]

In [192]:
# for 문

res = []

for i in range(10):
    res.append((lambda x: x+1)(i))

In [193]:
res

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [194]:
# 리스트 컴프리헨션

[(lambda x : x + 1)(i) for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* 람다는 점형식 데이터를 취급.
* 임의의 점 형식 데이터를 해당하는 작업을 해서 반환

In [217]:
# 람다 안에 if else 문을 집어넣을 수도 있다. 

[(lambda x: 1 if x>0 else 0)(i) for i in range(10)]

[0, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [218]:
[(lambda x: print(1) if x>0 else 0)(i) for i in range(10)]

1
1
1
1
1
1
1
1
1

[0, None, None, None, None, None, None, None, None, None]

In [219]:
def func_apply(x):
    if x > 0:
        return 123
    else:
        return 456

In [220]:
# apply 함수에 대해 알아보자.
# lambda 함수는 특정한 기능을 하는 것이 아니라, 선형 데이터를 점형 데이터로 만들어주는 도구인 것.

df['WT1'].apply(lambda x : func_apply(x))

0         123
1         123
2         123
3         123
4         123
         ...
109277    123
109278    123
109279    123
109280    123
109281    123
Name: WT1, Length: 109282, dtype: int64

In [221]:
# 컬럼은 리스트 연산 작업이 먹히지 않는다. 

df.columns

Index(['Unnamed: 0', 'target_id', 'WT1', 'WT2', 'WT3', 'Treat1', 'Treat2',
       'Treat3', 'Treat4', 'Treat5', 'Treat6'],
      dtype='object')

In [222]:
# 컬럼은 인덱싱이 가능하기는 하지만, 그것을 수정할 수는 없다.
# 컬럼은 순서 정보를 가지고 있다.

df.columns[1] = 'asdf'

TypeError: Index does not support mutable operations

In [224]:
# 컬럼을 바꾸는 것은 불가.
# 컬럼을 들어내고 다시 새로 추가해 넣는 것은 가능.

In [226]:
df.columns[7]

'Treat3'

In [229]:
list(df['Treat3'])

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.672287,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3.88839,
 0.0,
 0.0,
 0.0,
 0.305121,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0459764,
 0.0,
 0.052856,
 0.0,
 0.108489,
 0.91293,
 0.181806,
 0.60545,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.348942,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0770857,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.171062,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0984075,
 0.0,
 0.0,
 0.0294949,
 0.0,
 0.0,
 0.0,
 0.0,
 0.705068,
 2.40925,
 0.0,
 0.0,
 0.0,
 0.640232,
 0.0739736,
 0.0,
 0.155827,
 0.931587,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.39668,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0326081,
 0.0,
 0.0142298,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.464558,
 0.0627206,
 0.0,
 2.12518,
 10.6283,
 1.02749,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.52794,
 0.0,
 0.0908702,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.42447,
 6.25816,
 0.136594,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4677.71,
 967.986,
 2067.52,
 1913.07,
 13998.4,
 381.214,
 3822.59,
 3322.86,
 1865.91,
 2099.59,
 8024.18,
 1110.32,
 2720.62,
 51.8493,
 4.01244,
 183.745,
 97.635,
 15.1604,
 14.1633,
 12.5443,
 4.54048,
 31.1885,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.46642,
 0.169774,
 1.47893,
 0.280779,
 0.0,
 0.0,
 0.0,
 2.93988,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.298793,
 0.561287,
 0.0,
 0.0,
 2.59567,
 0.0,
 0.147046,
 40.129,
 0.460864,
 0.878875,
 2.70635,
 0.27023,
 23.5984,
 1.65857,
 0.22824,
 3.13911,
 0.0,
 0.360642,
 0.0492399,
 0.00351893,
 0.0,
 0.0881346,
 0.0,
 1.00739,
 104.12,
 5.79105,
 21.4524,
 0.0947004,
 1.47795,
 37.6653,
 0.766009,
 9.65891,
 23.6462,
 25.3276,
 37.4762,
 0.0,
 0.0,
 0.0,
 0.298876,
 0.322235,
 0.0,
 0.291901,
 0.0,
 0.527482,
 0.0,
 0.30862,
 0.171661,
 0.0,
 0.0,
 1.46454,
 4.27901,
 0.744359,
 1.18134,
 1.3583,
 0.329407,
 1.90685,
 0.0,
 0.0,
 13.8748,
 7.3889,
 223.076,
 32.2892,
 12.5078,
 0.0,
 13.5727,
 6.188,
 18.1515,
 5.93382,
 3.92455,
 36.92,
 0.0,
 0.138313,
 0.147299,
 0.0,
 0.0,
 0.0,
 39.4866,
 14.175,
 2.24137,
 0.0,
 6.5427,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 105.275,
 164.716,
 7.49432,
 0.665015,
 20.7103,
 42.3325,
 5.10804,
 0.0,
 0.0,
 0.791306,
 0.512513,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.00868841,
 0.0,
 0.0,
 5.17194,
 15.7937,
 0.0,
 4.38124,
 0.0,
 0.596736,
 0.0,
 0.0,
 11.1933,
 1.0922,
 0.0,
 0.0,
 7.33128,
 0.161972,
 0.534367,
 0.0,
 4.8901,
 81.1015,
 133.96,
 2.5535,
 4.37102,
 0.212855,
 0.642467,
 0.0,
 2.86962,
 4.33861,
 2.60214,
 0.785491,
 15.3951,
 0.660345,
 6.74923,
 0.0,
 3.25688,
 2.91549,
 19.6527,
 0.0,
 21.1701,
 8.18242,
 0.0,
 1.51888e-08,
 3.47988,
 0.0,
 15.8778,
 0.705719,
 0.757302,
 0.0,
 ...]

In [244]:
A = list(df.columns)

In [246]:
A[7] = 'Treat30'

In [247]:
A

['Unnamed: 0',
 'target_id',
 'WT1',
 'WT2',
 'WT3',
 'Treat1',
 'Treat2',
 'Treat30',
 'Treat4',
 'Treat5',
 'Treat6']

In [251]:
df.columns = A

In [252]:
df.columns

Index(['Unnamed: 0', 'target_id', 'WT1', 'WT2', 'WT3', 'Treat1', 'Treat2',
       'Treat30', 'Treat4', 'Treat5', 'Treat6'],
      dtype='object')

In [253]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat30,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [261]:
# rename 함수가 있다. axis 는 축방향이며, 0은 아래로 내려가는 방향, 1은 오른쪽으로 가는 방향.
# 자세한 내용은 판다스 공식홈에 있다...

df.rename({'Treat30': 'Treat3'}, axis = 1)

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [262]:
# range(시작, 끝, 스텝) 와 형태가 비슷하다. 

df.index

RangeIndex(start=0, stop=109282, step=1)

In [263]:
type(df.index)

pandas.core.indexes.range.RangeIndex

In [269]:
df.index[2:52]

RangeIndex(start=2, stop=52, step=1)

In [270]:
# 레인지 편집 불가, 레인지인덱스도 편집은 불가.
# 하지만, 리스트형이므로, 리스트로 변환할 경우 편집할 수 있다.